*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Garamond, serif
}
/* Navigation Bar CSS */
body{
    background-image: url(/img/pattern.jpg);
    background-repeat: repeat;
    
}
header{
    position:sticky;
    top:0;
    z-index:1000;

}
.nav-bar
{
    width: 100%;
    height: 70px;
    background-color: #1A1A1A;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);


}
.nav-logo
{
    display: flex;
    align-items: center;
    height: 100%;
}
.nav-bar img{
    height: 50px;

}
.nav-bar h2{

    font-size: 1.5rem;
}

/* links list css */
ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    padding: 15px 20px;
    font-family: lato, sans-serif;

}
ul li a:hover{
    background-color: #333333;
    border-radius: 5px;
    transition: 0.3s;
    
    border: 1px solid white;
}
.search-opt{ 

    display: flex;
    align-items: center;


}
.search-opt input{
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-size: 1rem;
}
.search-opt input:hover{
    
    border-radius: 10%;
    transition: 0.3s;
 
}

.search-opt button{
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-size: 1rem;
    background-color: #0a5ac4;
    color: white;
    margin-left: 10px;
    width: 100px;
}
.search-opt button:hover{
    background-color: #084a9e;
    cursor: pointer;
    transition: 0.3s;
}
.gap1, .gap2{
    width: 10%;
}
/* nav bar css ends here */

/* slider css starts here */


.slider {
    position: relative;
    width: 100%;
    max-width: 100%; 
    margin: auto;
    overflow: hidden;
}

.slide {
    display: none;
}

img {
    width: 100%;
    height: 500px
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
/* Slider Ends Here  */

/* Or Hotles Section Starts Here   */

.headingline{
    background-color: #1A1A1A;
    height: 50px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.hotel-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.box{
    height: 500px;
    width: 25%;
    margin: 10px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;

}
.box:hover{
    transform: scale(1.05);
    transition: 0.3s;
    cursor: pointer;
}

.hotelname
{
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #2c81f0;
    color: white;
    cursor: pointer;
    border-radius: 05px;

}
.box img{
    width: 100%;
    height: 300px;
}
/* Hotel details css ends here  */
.Section-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.int-box{
    height: 300px;
    width: 25%;
    margin: 10px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;

}
.int-box:hover{
    transform: scale(1.05);
    transition: 0.3s;
    cursor: pointer;
}
.int-box img{
    width: 100%;
    height: 200px;
}

/* Gallery section ends here  */
.form-box{
    height: 800px;
    width: 85%;
    margin: 10px;
    padding: 20px;
    background-color: white;
   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    

}
.form-box label{
    display: block;
    margin-top: 20px;
}
.form-box input, .form-box textarea{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;


}
.form-box button{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0a5ac4;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}
.form-box button:hover{
    background-color: #084a9e;
    transition: 0.3s;
}

/* Form section ends here  */
.helplinenumber{

    background-color: #dddddd;
    height: 200px;
    width: 100%;
    color: red;
    
    align-items: center;
    font-size: 1.2rem;
    margin-top: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.helplinenumber p{
    padding: 2px;
    
}

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none; 
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50px;
}
#backToTop:hover {
    background-color: #555;
}